@model Forum.Models.ForumUser
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{

    <p>Sign in</p>
    <br />
    <p>Username:</p>

    <!--<input type="text" name="username" class="inputFields" required> -->
    @Html.TextBoxFor(x => x.Username, new { @class = "inputFields", @required = "required" })
    <br>
    <p>Password:</p>
    @*<input type="password" name="password" class="inputFields" required>*@
    @Html.PasswordFor(x => x.UserPassword, new { @class = "inputFields", @required = "required" })
    <br>
    <br>
    <input type="submit" value="Login" class="inputButtons">

    @*<a href="Register.php" class="inputButtons">Register an account</a>*@
    @Html.ActionLink("Register an account", "Register", "Home", new { @class = "inputButtons" })
    <br />
    @Html.ValidationSummary();
}


<br />


